@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Serif+KR:wght@200&display=swap');

body 
{
    min-height: 100%; 
    font-family: 'Noto Serif KR', serif;
    color: #eeeeee; 
    background-color: #091b45;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -1px;
    word-spacing: 1px;
}

p.head 
{
    color: #eeeeee; 
    /*font-weight: bold;*/
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

a.name
{
    color: #eeeeee; 
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

div.name
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div.memo
{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

div.address
{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

a.bold
{
    font-weight: bold;
}

div.map
{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}